*{
    padding: 0px;
    margin: 0px;
}

/*star creating  the background colors*/

body{
    background-color: black;
}

/*----------------------------------------------------- style sheet for header -------------------------------------------------*/

/* 1-logo and background*/

.ST-header{
    background-color:#F3971b ;
}

.ST-title{
    font-size: 20px;
    max-width: 1200px; 
    height: 10px;
   /* font-family: 'Times New Roman';*/
 
}

/* 2-do menu design*/

/* we will make all these list items  display in one line*/

.ST-nav ul li{
     display: inline-block;
}

/* style link i will give them a padding in all direction, color and text-decoration*/
.ST-nav ul li a {
    padding: 10px 50px;
    margin: 0; 
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

.ST-nav ul li a:hover{
    color: #000;
}

.FL-TITLE{
    float: left;
    border: black solid 1px;
    
}

.ST-nav{
    float: right;
    border: black solid 1px;
}

.ST-header::after{
    content: " "; /*blank space*/
    clear: both;  
    display: block;
    visibility: none;
}
